p {
   color: red;
}

header {
    color: blue;
}

footer {
    color: black;
    
    background-color:rgb(213, 228, 230);
   
}

nav {
    color: black;
    
    background-color:rgb(213, 228, 230);
   
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

@media screen (max-width: 768px) {
    nav ul{
        flex-direction: column;
    }
    
}