body {
    font-family: 'Zeyada', cursive;
    font-size: 1.6em;
    font-weight: bold;
    position: relative;
}

p {
    color: red;
}

header {
    color: blue;
    max-width: 100%;
}

footer {
    color: black;
    background-color: rgb(213, 228, 230);
    width: 100%;
    position: sticky;
    bottom: 0;
}

nav {
    color: black;

    background-color: rgb(213, 228, 230);

}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}


footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;


}

#image1{

    width:100%;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

}

form {
    width: 500px;
}