p {
   color: red;
}

header {
    color: blue;
}

footer {
    color: black;
    
    background-color:rgb(213, 228, 230);
   
}

nav {
    color: black;
    
    background-color:rgb(213, 228, 230);
   
}

nav ul{
    display: flex;
    justify-content: space-around;
}


footer ul{
    display: flex;
    justify-content: space-around;

}